.image {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px 80px 60px;
  }
  
  .digits {
    text-shadow: 2px 2px 8px #3333FF;
    font-family: 'Iceland';
    font-weight: 400;
    font-size: 144px;
    margin: 20px;
  }
  